<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAtkdquY9lHN9T_ixb8GFVeKAUaJwKyWXk</string>
	<key>GCM_SENDER_ID</key>
	<string>142647511356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nabd.nabdo</string>
	<key>PROJECT_ID</key>
	<string>nabd-386af</string>
	<key>STORAGE_BUCKET</key>
	<string>nabd-386af.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142647511356:ios:d61ad59c8c337f163d3639</string>
</dict>
</plist>